// Font-size
$fs-xxxl: 5.1rem; //82px
$fs-xxl: 3.4rem; //54px
$fs-xl: 3rem; //48px
$fs-l: 1.8rem; //30px
$fs-m: 1.5rem; //24px
$fs-s: 1.3rem; //21px
$fs-xs: 1rem; //16px
$fs-xxs: 0.9rem; //14px-15px

// Font-size-adaptive
$adap-fs-xxl: 4.5rem; // 72px
$adap-fs-xl: 2.6rem; // 42px
$adap-fs-l: 2.2rem; // 36px
$adap-fs-m: 2rem; // 32px
$adap-fs-s: 1.7rem; // 28px
$adap-fs-xs: 1.6rem; // 26px
$adap-fs-xxs: 1.1rem; // 18px
$price-xl: 3.7rem; // 60px

// Fonts-color
$main-text-color: rgba(141, 129, 172, 1);
$main-second-text-color: rgba(255, 255, 255, 1);

$description-text-color: rgba(132, 142, 151, 1);
$description-second-text-color: rgba(162, 145, 165, 1);

$caption-text-color: rgba(50, 50, 50, 1);
$caption-second-text-color: rgba(99, 92, 115, 1);

$line-color-feedback: rgba(100, 87, 102, 1);


// Background-color
$background-color: rgba(244, 244, 244, 1);

// Editor-button-color
$border-color: rgba(213, 213, 213, 1);
$editor-button-text-color: rgba(51, 51, 51, 1);
$editor-button-hover: rgba(100, 136, 207, 1);

// Subscription-pricing-color
$background-subscription-color: rgba(102, 72, 81, 1);
$background-subscription-second-color: rgba(71, 49, 72, 1);
$header-background-color: rgba(111, 89, 99, 1);
$header-background-second-color: rgba(77, 53, 73, 1);

$line-color: rgba(141, 129, 172, 1);
$background-subscription-button-color: rgba(125, 109, 121, 1);

// Header-color
$header-fork-background-color: rgba(39, 38, 42, 1);
$header-burger-line: rgba(59, 59, 59, 1);
