.here {
    background-color: $background-color;
    padding: 95px 0 75px;
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-areas:
        "items title"
        "items img";
    column-gap: 54px;
    margin-top: 70px;

    &__items {
        justify-self: end;
        padding-left: 10px;
        grid-area: items;
    }

    &__item {
        @include flex(space-between, flex-start);
        margin-bottom: 35px;
        max-width: 460px;
    }

    &__item:last-child {
        margin-bottom: 0;
    
    }
    
    &-wrapper__img {
        min-width: 111px;
        margin-right: 23px;
    }
    
    &__title {
        font-size: $fs-xs;
        line-height: 21px;
        color: $caption-text-color;
        font-family: MontserratRegular;
    }
    
    &__description {
        font-size: $fs-xxs;
        line-height: 21px;
        color: $description-text-color;
        font-family: MontserratRegular;
        margin-top: 16px;
    }

    &__caption {
        grid-area: title;
        text-align: start;
        margin-left: 15px;
        font-family: Bold;
        font-size: $fs-xl;
        color: $main-text-color;
        font-family: MontserratBold;
    }
    
    &__caption:before {
        content: "<";
        color: $main-text-color;
        font-family: MontserratBold;
    }
    
    &__caption:after {
        content: ">";
        color: $main-text-color;
        font-family: MontserratBold;
    }
    
    &__img-small {
        display: none;
    }
    
    &__img {
        width: 100%;
        grid-area: img;
    }

}

@media (min-width: 481px) and (max-width: 992px) {

    .here {
        background-color: $main-second-text-color;
        grid-template-columns: (1, 1fr);
        grid-template-areas:
            "title"
            "items"
            "items"
            "img";
        padding: 98px 0 0 0;

        &__caption {
            display: flex;
            justify-content: center;
            margin-left: 0;
            font-size: $adap-fs-xl;
        }
    
        &__items {
            @include flex-self(column, flex-start);
            margin-left: 30px;
            margin-top: 52px;
        }
    
        &__item {
            margin-bottom: 59px;
        }
    
        &__img {
            margin-top: 73px;
        }

        &__img-small {
            display: none;
        }

        &__description {
            width: 580px;
            margin-top: 15px;
        }

    }




}

@media (min-width: 320px) and (max-width: 480px) {
    .here {
        background-color: $main-second-text-color;
        padding: 32px 0 0 0;
        margin-top: 88px;
        grid-template-columns: (1, 1fr);
        grid-template-areas:
            "title"
            "items"
            "items"
            "img";

            &__caption {
                margin: auto;
                font-family: MontserratBold;
                font-size: $adap-fs-m;
                text-align: center;
                padding: 0 28px 0 27px;
                line-height: 38px;
            }
        
            &__item {
                flex-direction: column;
                align-items: center;
            }
        
            &__title {
                text-align: center;
                margin: 20px 0 14px 0;
                font-family: MontserratRegular;
                font-size: $fs-xs;
            }
        
            &__items {
                padding: 36px 21px 58px;
            }
        
            &__description {
                text-align: center;
                font-family: LatoRegular;
                font-size: $fs-xxs;
            }
        
            &__img {
                display: none;
            }
        
            &__img-small {
                display: block;
                width: 100%;
                margin-bottom: 6px;
            }
        
            &-wrapper__img {
                margin: 0;
                min-width: 0;
            }

    }
}





